html {
    font-size: 62, 5%;
}

body {
    font-size: 16px;
    background: lightgray;
}

/*Colocamos las dos líneas anteriores para poder trabajar en vez de con pixeles con rem
    que se adaptan mejor a cualquier tipo de pantallas (tablets, celulares, relojes, tv)*/
/*A su vez 1 rem equivale a 10 px*/
h5 {
    color: rgb(202, 48, 120);


    font-family: Helvetica, sans-serif;
}

/*Le doy estilo a la etiqueta h5, color de letra tipo rosado y 
    el tipo de letra arial, helvetica o sans-serif*/
.datos {
    font-size: 19px;
    color: red;
    font-family: 'Arvo', serif;
    font-family: 'Krub', sans-serif;
}
p {
    font-size: 15px;
    color: rgb(19, 18, 18);
}

h1 {
    font-family: 'Arvo', serif;
    font-family: 'Krub', sans-serif;
    color: rgb(13, 13, 14);
    text-align: center;
    font-size: 60px;
}

.experiencia {
    font-size: 30px;
    font-family: 'Arvo', serif;
    font-family: 'Krub', sans-serif;
    text-align: center;

}

.caja {
    width: 500px;
    height: 200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    /*Esta propiedad permite que al hacer cambios en la caja esta 
    no se agrande, no cambie de tamaño*/
    border-radius: 20px 0;
    background: #372c2c;
    background: linear-gradient(139deg, #372c2c 0%, #3a3ddf 80%);
    box-shadow: 10px 15px 8px rgba(12, 12, 12, 0.88);
    color: white;
    text-shadow: 0px 14px 4px rgba(0, 0, 0, 0.6);
    column-count: 3;
    column-gap: 25px;
    column-rule: 1px solid;
}
    
.puestos {
    /*Le doy estilo a la sección de puestos de trabajo a los que deseo aplicar*/

    color: rgb(238, 9, 9);
    width: 1200px;
    height: 100px;
    background: yellow;
}

.videoIoc {

    color: black;
    width: 100px;
    }
    .videoIoc p{
        color:blue;
    }

    .musica{
        color:rgb(42, 140, 165);
        font-size: 50px;

    }

    .redes{
        color:rgb(42, 140, 165);
        font-size: 35px;
    }
    .contactar { /**/
        font-size: 20px;
        text-shadow: 7px -7px 2px rgba(25,82,100,0.57);


    }


.formato {
    /*Le doy estilo, color de fondo, de las letras, etc al formulario*/
    background: rgb(155, 224, 184);
    color: rgb(42, 140, 165);
    border-radius: 3px;
    border-color: black;
}

footer {
    background: black;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
    /* Al footer o pie de página le doy un fondo de color negro con background
    al texto le doy color blanco con color, centro el texto con text-align, 
    altura de 50 pixeles a la caja y centro el texto en altura con line-height*/
}